.header {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}

.perfil {
    display: flex;
}

.perfil-info {
    display: flex;
    flex-direction: column;
}

.perfil-imagen {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}